In [1]:
import numpy as np
import pandas as pd

#read csv file contain KL data
df_kl = pd.read_csv("KL_disrict.csv")
df_kl.head()

   Postcode  District                Area
0     52100    Kepong             Jinjang
1     52100    Kepong  Taman Bukit Maluri
2     51200  Segambut    Bandar Menjalara
3     51200  Segambut         Bukit Kiara
4     51200  Segambut         Bukit Tunku

In [2]:
#examine data
print('Kuala Lumpur dataframe has {} district and {} areas.'.format(
        len(df_kl['District'].unique()),
        df_kl.shape[0]
    )
)

df_kl.groupby('District').count()

Kuala Lumpur dataframe has 11 district and 66 areas.

                  Postcode  Area
District
Bandar Tun Razak         6     6
Batu                     2     2
Bukit Bintang           11    11
Cheras                   9     9
Kepong                   2     2
Lembah Pantai            6     6
Segambut                11    11
Seputeh                  8     8
Setiawangsa              3     3
Titiwangsa               5     5
Wangsa Maju              3     3

In [3]:
df_jb = pd.read_csv("JB_disrict.csv")
df_jb.head()

   Postcode     District              Area
0     80000  Johor Bahru       Johor Bahru
1     81100  Johor Bahru  Bandar Dato' Onn
2     80200  Johor Bahru         Danga Bay
3     81100  Johor Bahru        Johor Jaya
4     81100  Johor Bahru         Desa Jaya

In [4]:
#examine
print('Johor Bahru dataframe has {} district and {} areas.'.format(
        len(df_jb['District'].unique()),
        df_jb.shape[0]
    )
)

df_jb.groupby('District').count()

Johor Bahru dataframe has 3 district and 22 areas.

                 Postcode  Area
District
Iskandar Puteri         8     8
Johor Bahru            10    10
Pasir Gudang            4     4

In [ ]:
import geocoder
GOOGLE_API_KEY='AIzaSyBvFKWp02oe6cU3LQa6gi1GR93M5Xo32LE'

#function to get latitude and longitude
def get_latlng(postal_code):
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Malaysia'.format(postal_code), key=GOOGLE_API_KEY)
        lat_lng_coords = g.latlng
    return lat_lng_coords

#put new column of latitude and logitude into dataframe
postal_codes1 = df_kl['Area']    
coords = [ get_latlng(postal_code) for postal_code in postal_codes1.tolist() ]

df_kl_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df_kl['Latitude'] = df_kl_coords['Latitude']
df_kl['Longitude'] = df_kl_coords['Longitude']
df_kl.head(10)

In [ ]:
postal_codes2 = df_jb['Area']    
coords = [ get_latlng(postal_code) for postal_code in postal_codes2.tolist() ]

df_jb_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df_jb['Latitude'] = df_jb_coords['Latitude']
df_jb['Longitude'] = df_jb_coords['Longitude']
df_jb.head(10)

In [ ]:
from geopy.geocoders import Nominatim
import folium

address = 'Kuala Lumpur, Malaysia'
geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude

# create map of New York using latitude and longitude values
map_kl = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, borough, neighborhood in zip(df_kl['Latitude'], df_kl['Longitude'], df_kl['District'], df_kl['Area']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_kl)  
    
map_kl

In [ ]:
address = 'Johor Bahru, Malaysia'
geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude

# create map of New York using latitude and longitude values
map_jb = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, borough, neighborhood in zip(df_jb['Latitude'], df_jb['Longitude'], df_jb['District'], df_jb['Area']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_jb)  
    
map_jb